img{
    width:200px; 
    transition: 1s ease-in-out;
    border-radius: 10px;
    height:150px;
}
.container{
    display: flex;
    width: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.next{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
    position: absolute;
    right: 670px;
}