img{
    width:200px; 
    transition: 1s ease-in-out;
    border-radius: 10px;
    height:150px;
}
.container{
    display: flex;
    width: 200px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}
div img {
  min-width: 100%;    /* container kadar yer kaplasın */
  height: 150px;
  border-radius: 8px;
  flex-shrink: 0;     /* boşluk oluşmasını engeller */
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.next{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
    position: absolute;
    right: 670px;
}