/* .p-item{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.salam{
    background-color: red;
    width: 200px;
    height: 200px;
}

.div-red{
    width: 100px;
    height: 100px;
    background-color: red;
} */


.red{
    background-color: red;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.blue{
    background-color: blue;
    width: 100px;
    height:30px;
    cursor: pointer;
}
.green{
    cursor: pointer;
    background-color: green;
    width: 100px;
    height: 30px;
}
